# dir & special files
build/
wireshark-gtk2/
macosx-support-libs/
macosx-support-lib-patches/
image/*.rc
image/*.res
image/wireshark.exe.manifest
doc/*
plugins/**/*.rc
plugins/**/*.res
plugins/**/*.exp
epan/dfilter/grammar.*
epan/dfilter/scanner.c
epan/dtd_grammar.*
epan/dtd_preparse.c
epan/dissectors/packet-ncp2222.c
epan/dissectors/register-cache.pkl
epan/libwireshark.exp
epan/ps.c
epan/uat_load.c
epan/wslua/declare_wslua.h
epan/wslua/init.lua
epan/wslua/register_wslua.c
epan/dfilter/scanner_lex.h
epan/diam_dict.c
epan/diam_dict_lex.h
epan/dtd_parse.c
epan/dtd_parse_lex.h
epan/dtd_preparse_lex.h
epan/radius_dict.c
epan/radius_dict_lex.h
epan/uat_load_lex.h
epan/wslua/taps.txt
epan/wslua/taps_wslua.c
filetap/filetap-1.12.0.exp
help/faq.txt
plugins/docsis/plugin.c
plugins/ethercat/plugin.c
plugins/gryphon/plugin.c
plugins/irda/plugin.c
plugins/m2m/plugin.c
plugins/mate/mate_grammar.c
plugins/mate/mate_grammar.h
plugins/mate/mate_parser.c
plugins/mate/mate_parser_lex.h
plugins/mate/plugin.c
plugins/opcua/plugin.c
plugins/profinet/plugin.c
plugins/unistim/plugin.c
plugins/wimax/plugin.c
plugins/wimaxasncp/plugin.c
plugins/wimaxasncp/wimaxasncp_dict.c
plugins/wimaxasncp/wimaxasncp_dict_lex.h
plugins/wimaxmacphy/plugin.c
text2pcap-scanner.c
tools/lemon/lemon.ilk
ui/gtk/wireshark-tap-register-cache.pkl
ui/gtk/wireshark-tap-register.c
ui/qt/config.pri
ui/text_import_scanner.c
wiretap/ascend.c
wiretap/ascend.h
wiretap/ascend_scanner.c
wiretap/ascend_scanner_lex.h
wiretap/k12text.c
wiretap/k12text_lex.h
wiretap/wiretap-1.12.0.exp
wsutil/libwsutil.exp
config.h
version.h
doxygen.cfg
_libs_check_
ptndef.csv
wireshark-1.12.6.IAB
wireshark-1.12.6.IAD
wireshark-1.12.6.IMB
wireshark-1.12.6.IMD
wireshark-1.12.6.PFI
wireshark-1.12.6.PO
wireshark-1.12.6.PR
wireshark-1.12.6.PRI
wireshark-1.12.6.PS


# Tmp files
*.bak
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.pdb
